In [3]:
import numpy as np
import pandas as pd
from datetime import datetime
import math

url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
data = pd.read_html(url)

sp500_initial = data[0]['Symbol'].to_numpy()

In [4]:
current_date = datetime(2024,8,9)

initial_data = {
    'Date': current_date,
    'Ticker List': [sp500_initial]
}

sp500_history = pd.DataFrame(initial_data)

In [13]:
changes_history = data[1]

changes_dates = changes_history["Date"]["Date"].to_numpy()
date_format = "%B %d, %Y"
changes_dates = pd.to_datetime(changes_dates, format=date_format).to_numpy()

changes_addedTicker = changes_history["Added"]["Ticker"]
test = changes_addedTicker.isna()
print(changes_addedTicker)


changes_removedTicker = changes_history["Removed"]["Ticker"].to_numpy()

0       KKR
1      CRWD
2      GDDY
3       VST
4       NaN
       ...
343     WLP
344     FSR
345     CCL
346    CPWR
347     CCI
Name: Ticker, Length: 348, dtype: object

In [6]:
print(changes_addedTicker)

0       KKR
1      CRWD
2      GDDY
3       VST
4       NaN
       ...
343     WLP
344     FSR
345     CCL
346    CPWR
347     CCI
Name: Ticker, Length: 348, dtype: object

In [7]:
array = [[0,2]]

for i in range(1, len(changes_dates)):
    
    if changes_dates[i-1] == changes_dates[i]:

        constant = np.sum(array[-1])
        
        if i < constant :
            continue

        elif i == constant:
            array[-1][1] += 1

        else:
            array.append( [i-1,2] )

print(array)

[[0, 3], [4, 2], [8, 2], [10, 3], [13, 2], [17, 2], [23, 2], [28, 2], [33, 2], [35, 2], [37, 3], [46, 3], [50, 3], [59, 4], [70, 3], [73, 3], [77, 2], [79, 2], [81, 2], [86, 3], [95, 2], [101, 2], [109, 3], [120, 2], [126, 3], [133, 2], [137, 5], [142, 4], [149, 3], [159, 2], [167, 2], [180, 2], [185, 2], [196, 3], [206, 2], [210, 4], [216, 2], [220, 2], [228, 2], [234, 3], [241, 2], [258, 2], [272, 3], [288, 4], [299, 5], [310, 2], [314, 2], [317, 2], [335, 4], [344, 3]]

In [8]:
for i in array:
    baseIndex = i[0]
    num = i[1]
    print(i)

    tempArr = changes_addedTicker[baseIndex:baseIndex+num]
    print(tempArr)

[0, 3]
0     KKR
1    CRWD
2    GDDY
Name: Ticker, dtype: object
[4, 2]
4    NaN
5    NaN
Name: Ticker, dtype: object
[8, 2]
8    SMCI
9    DECK
Name: Ticker, dtype: object
[10, 3]
10    UBER
11     JBL
12    BLDR
Name: Ticker, dtype: object
[13, 2]
13    HUBB
14    LULU
Name: Ticker, dtype: object
[17, 2]
17      BX
18    ABNB
Name: Ticker, dtype: object
[23, 2]
23      BG
24    PODD
Name: Ticker, dtype: object
[28, 2]
28    FSLR
29     NaN
Name: Ticker, dtype: object
[33, 2]
33    PCG
34    EQT
Name: Ticker, dtype: object
[35, 2]
35    CSGP
36    INVH
Name: Ticker, dtype: object
[37, 3]
37    NaN
38    KDP
39     ON
Name: Ticker, dtype: object
[46, 3]
46    SBNY
47    SEDG
48     FDS
Name: Ticker, dtype: object
[50, 3]
50    MTCH
51    CDAY
52     BRO
Name: Ticker, dtype: object
[59, 4]
59    NXPI
60    PENN
61    GNRC
62     CZR
Name: Ticker, dtype: object
[70, 3]
70    ETSY
71     TER
72    CTLT
Name: Ticker, dtype: object
[73, 3]
73    BIO
74    TDY
75    TYL
Name: Ticker, dtype: object
[77, 2]
77     DPZ
78    DXCM
Name: Ticker, dtype: object
[79, 2]
79    NaN
80    NaN
Name: Ticker, dtype: object
[81, 2]
81    OTIS
82    CARR
Name: Ticker, dtype: object
[86, 3]
86     LYV
87    ZBRA
88     STE
Name: Ticker, dtype: object
[95, 2]
95    LDOS
96     IEX
Name: Ticker, dtype: object
[101, 2]
101      DD
102    CTVA
Name: Ticker, dtype: object
[109, 3]
109      LW
110    MXIM
111    FANG
Name: Ticker, dtype: object
[120, 2]
120     BR
121    HFC
Name: Ticker, dtype: object
[126, 3]
126    TTWO
127    SIVB
128    NKTR
Name: Ticker, dtype: object
[133, 2]
133    DWDP
134    SBAC
Name: Ticker, dtype: object
[137, 5]
137    DRE
138    AOS
139    PKG
140    RMD
141    MGM
Name: Ticker, dtype: object
[142, 4]
142     HLT
143    ALGN
144    ANSS
145      RE
Name: Ticker, dtype: object
[149, 3]
149    AMD
150    RJF
151    ARE
Name: Ticker, dtype: object
[159, 2]
159     MAA
160    EVHC
Name: Ticker, dtype: object
[167, 2]
167    LNT
168    ALB
Name: Ticker, dtype: object
[180, 2]
180    HOLX
181     CNC
Name: Ticker, dtype: object
[185, 2]
185    CFG
186    FRT
Name: Ticker, dtype: object
[196, 3]
196    CMCSK
197      FOX
198      NWS
Name: Ticker, dtype: object
[206, 2]
206    JBHT
207    BXLT
Name: Ticker, dtype: object
[210, 4]
210     AAL
211    EQIX
212     SLG
213     HBI
Name: Ticker, dtype: object
[216, 2]
216     HCA
217    ENDP
Name: Ticker, dtype: object
[220, 2]
220    URI
221    UHS
Name: Ticker, dtype: object
[228, 2]
228      UA
229    NAVI
Name: Ticker, dtype: object
[234, 3]
234    ADS
235    MHK
236     FB
Name: Ticker, dtype: object
[241, 2]
241    VRTX
242     AME
Name: Ticker, dtype: object
[258, 2]
258    ADT
259    PNR
Name: Ticker, dtype: object
[272, 3]
272     BWA
273    PRGO
274    DLTR
Name: Ticker, dtype: object
[288, 4]
288     CVC
289    FFIV
290    NFLX
291     NFX
Name: Ticker, dtype: object
[299, 5]
299       V
300     MJN
301     CLF
302     SAI
303    ROST
Name: Ticker, dtype: object
[310, 2]
310    HRL
311    VTR
Name: Ticker, dtype: object
[314, 2]
314     CRM
315    FAST
Name: Ticker, dtype: object
[317, 2]
317    COG
318    MEE
Name: Ticker, dtype: object
[335, 4]
335    INTU
336     SBL
337     AYE
338     ABK
Name: Ticker, dtype: object
[344, 3]
344     FSR
345     CCL
346    CPWR
Name: Ticker, dtype: object

In [9]:
current_date = datetime(2024,8,9)

for index, date in enumerate(changes_dates[:2]):
    print(date, current_date)

    dates_NoChange = pd.date_range(start=date, end=current_date).to_numpy()
    current_date = date
    print(dates_NoChange)

2024-06-24T00:00:00.000000000 2024-08-09 00:00:00
['2024-06-24T00:00:00.000000000' '2024-06-25T00:00:00.000000000'
 '2024-06-26T00:00:00.000000000' '2024-06-27T00:00:00.000000000'
 '2024-06-28T00:00:00.000000000' '2024-06-29T00:00:00.000000000'
 '2024-06-30T00:00:00.000000000' '2024-07-01T00:00:00.000000000'
 '2024-07-02T00:00:00.000000000' '2024-07-03T00:00:00.000000000'
 '2024-07-04T00:00:00.000000000' '2024-07-05T00:00:00.000000000'
 '2024-07-06T00:00:00.000000000' '2024-07-07T00:00:00.000000000'
 '2024-07-08T00:00:00.000000000' '2024-07-09T00:00:00.000000000'
 '2024-07-10T00:00:00.000000000' '2024-07-11T00:00:00.000000000'
 '2024-07-12T00:00:00.000000000' '2024-07-13T00:00:00.000000000'
 '2024-07-14T00:00:00.000000000' '2024-07-15T00:00:00.000000000'
 '2024-07-16T00:00:00.000000000' '2024-07-17T00:00:00.000000000'
 '2024-07-18T00:00:00.000000000' '2024-07-19T00:00:00.000000000'
 '2024-07-20T00:00:00.000000000' '2024-07-21T00:00:00.000000000'
 '2024-07-22T00:00:00.000000000' '2024-07-23T00:00:00.000000000'
 '2024-07-24T00:00:00.000000000' '2024-07-25T00:00:00.000000000'
 '2024-07-26T00:00:00.000000000' '2024-07-27T00:00:00.000000000'
 '2024-07-28T00:00:00.000000000' '2024-07-29T00:00:00.000000000'
 '2024-07-30T00:00:00.000000000' '2024-07-31T00:00:00.000000000'
 '2024-08-01T00:00:00.000000000' '2024-08-02T00:00:00.000000000'
 '2024-08-03T00:00:00.000000000' '2024-08-04T00:00:00.000000000'
 '2024-08-05T00:00:00.000000000' '2024-08-06T00:00:00.000000000'
 '2024-08-07T00:00:00.000000000' '2024-08-08T00:00:00.000000000'
 '2024-08-09T00:00:00.000000000']
2024-06-24T00:00:00.000000000 2024-06-24T00:00:00.000000000
['2024-06-24T00:00:00.000000000']

In [10]:
date_range = pd.date_range(start='2024-08-01', end='2024-08-10').to_numpy()
print(date_range)

['2024-08-01T00:00:00.000000000' '2024-08-02T00:00:00.000000000'
 '2024-08-03T00:00:00.000000000' '2024-08-04T00:00:00.000000000'
 '2024-08-05T00:00:00.000000000' '2024-08-06T00:00:00.000000000'
 '2024-08-07T00:00:00.000000000' '2024-08-08T00:00:00.000000000'
 '2024-08-09T00:00:00.000000000' '2024-08-10T00:00:00.000000000']

In [11]:
date_strings = ["April 3, 2024", "April 4, 2024", "April 5, 2024"]
date_format = "%B %d, %Y"
date_objects = pd.to_datetime(date_strings, format=date_format).to_numpy()

print(date_objects)

['2024-04-03T00:00:00.000000000' '2024-04-04T00:00:00.000000000'
 '2024-04-05T00:00:00.000000000']

In [12]:
arrar = np.array([0,0,0,1,1])

indices = np.where(arrar == 0)[0]
print(indices)

[0 1 2]